<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aulia Radityatama</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    </head>

    <body class="body1">
        {% include 'navbar.html' %}
        <header style="background-color: #CDC84C;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg"></div>
                    <div class="col-lg">                        
                            <div id=foto>
                                <img src="{% static 'Pas foto kotak.jpg' %}" class="responsive" height= "290" width= "360">
                            </div>                        
                    </div>
                    <div class="col-md-auto">
                        <div id="profil">
                            <h2>Aulia Radityatama Suhendra</h2>
                            <h4>Mahasiswa Universitas Indonesia</h4>
                            <br>
                            <p style="text-align:left;">Phone: 085810382790</p>
                            <p style="text-align:left;">Mail: auliaradityatama78@gmail.com</p>
                            <p style="text-align:left;">Tempat Tanggal Lahir: Jakarta, 10 Februari 2001</p>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg"></div>
                </div>
            </div>
        </header>

        <style>
            p {
            text-align: center;
            }
            h3 {
            text-align: center;
            }
        </style>       
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                    <div class="col-lg" id="judulriw">
                        <h3 id="tulisanjudulriw">Riwayat Pendidikan</h3>
                    </div>
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                </div>
            </div>
        
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg">
                        <p class="sekolah">SDIT Citra Az-Zahra (2007-2013)</p>
                    </div>
                    <div class="col-lg">
                        <p class="sekolah">SMP Islam Al-Azhar 4 (2013-2016)</p>
                    </div>
                    <div class="col-lg">
                        <p class="sekolah">SMA Negeri 78 Jakarta (2016-2019)</p>
                    </div>
                    <div class="col-lg">
                        <p class="sekolah">Universitas Indonesia (2019-...)</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg"></div>                   
                    <div class="col-lg"></div>
                    <div class="col-lg" id="judulskill">
                        <h3 id="tulisanjudulskill">Skills</h3>
                    </div>
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>        
                </div>
            </div>
            
            <div class="container-fluid">
                <div class="row" id="barisskill">
                    <div class="col-lg"></div>
                    <div class="col-lg">
                        <p class="skill">Microsoft Word</p>
                        <p class="skill">Microsoft Excel</p>
                        <p class="skill">Microsoft PowerPoint</p>
                    </div>
                    <div class="col-lg"></div>
                    <div class="col-lg"></div>
                    <div class="col-lg">
                        <p class="skill">Python</p>
                        <p class="skill">Java</p>
                        <p class="skill">English</p>
                    </div>
                    <div class="col-lg"></div> 
                </div>
            </div>

            <div class="container-fluid" id="footer">
                <div class="row" id="judulfooter">                   
                    <div class="col-lg"></div>
                    <div class="col-lg">
                        <h3>You can find me at:</h3>
                    </div>
                    <div class="col-lg"></div>        
                </div>
            </div>

            <div class="container-fluid" id="socialbuttons">
                <div class="row">
                    <div class="col-lg">
                        <a href="https://www.facebook.com/aulia.r.suhendra" class="fa fa-facebook"></a>
                    </div>
                    <div class="col-lg">
                        <a href="https://www.instagram.com/aulia_radityatama/" class="fa fa-instagram"></a>
                    </div>
                    <div class="col-lg">
                        <a href="https://twitter.com/AuliaRadityata1" class="fa fa-twitter"></a>
                    </div>
                    <div class="col-lg">
                        <a href="https://www.linkedin.com/in/aulia-radityatama-521b07147/" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>

    </body>
</html>